h2 {
    margin-bottom: 20px;
}
.center_align {
    text-align:center;
}
.left_align {
    text-align:left;
}
.right_align {
    text-align:right;
}
.nowrap {
    white-space: nowrap;
}
.container.full_width {
    width: 100%;
    padding: 0;
}
.carousel.full_width {
    width: 100%;
}
.carousel-inner .item img {
    width: 100%;
}
#content.container {
    width: 100%;
}
#photos .col-md-10 {
    padding: 0;
}
#photos.black_background {
    padding: 0 !important;
}
a.left.carousel-control {
    width: 30px;
}
a.right.carousel-control {
    width: 30px;
}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    letter-spacing: 3px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.homepage-hero-module a,
.homepage-hero-module a:hover,
.homepage-hero-module a:focus,
.homepage-hero-module a:active,
.homepage-hero-module a:visited {
    color: #fff;
}
a,
a:visited {
    color: #ccc;
}
a:hover,
a:focus,
a:active {
    color: #fff;
}
a.icon,
a.icon:visited {
    color: #9f9f9f;
}
a.icon:hover,
a.icon:focus,
a.icon:active {
    color: #5f5f5f;
}
#contact > .fa {
    opacity: .5;
}
.grey_background {
    background: rgba(45, 45, 45, 0.8);
    position: relative;
    padding: 30px 0;
    color: #ccc;
    letter-spacing: 1px;
}
.grey_background.solid {
    background: #2d2d2d;
}
.black_background {
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    padding: 30px 0;
    color: #ccc;
    letter-spacing: 1px;
}
.black_background.solid {
    background: #000;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container .title-container {
    z-index: 1000;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #fff;
}
.video-container .description .inner {
    font-size: 1em;
    width: 45%;
    margin: 0 auto;
}
.video-container .link {
    position: absolute;
    bottom: 3em;
    width: 100%;
    text-align: center;
    z-index: 1001;
    font-size: 2em;
    color: #fff;
}
.video-container .link a {
    color: #fff;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
.btn-lg {
    border-radius: 0;
    border: 1px solid #fff;
}
*::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none
}

@media only screen and (min-width: 769px) {
    .poster.portrait {
        display:none;
    }
    .poster.landscape {
        display:none;
    }
}
@media only screen and (orientation: landscape) and (max-width: 768px) {
    .poster.portrait {
        display:none;
    }
    video {
        display:none;
    }
}
@media only screen and (orientation: portrait) and (max-width: 768px) {
    .poster.landscape {
        display:none;
    }
    video {
        display:none;
    }
}
